@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%; 
}

body { 
    min-height: 100%; 
}

.grid-container {
    padding: 30px;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1.25fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-areas: "Time Chat" "players Chat" "players Chat";
}

.countdown {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: black;
    font-size: 6rem;
}

.Chat h1 {
    margin-left: 3rem;
    margin-top: 2rem;
    font-weight: black;
    font-size: 50px;

}


.Time button {
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    font-size: 16px;
    margin-top: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.Time h3 {
    text-align: center;
    color: white;
    font-size: 1.5rem
}
.players { 
    grid-area: players;
    border-radius: 12px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
}

.Time { 
    grid-area: Time;
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(244, 172, 70);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 20px;
    text-align: center;
}

.players h1 {
    margin-left: 3rem;
    margin-top: 2rem;
    font-weight: black;
    font-size: 30px;
    margin-bottom: 30px;
}
.Chat { 
    grid-area: Chat;
    border-radius: 12px;
    display: grid;
    grid-template:
    ' . ' 1fr
    ' . ' 8fr
    ' . ' 1fr
    / 1fr;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.input {
    border-top: 1px solid #C3C3C3;
    padding: 5px;
}

.input input {
    height: 100%;
    border: none;
    width: calc(100% - 120px);
    font-size: 18px;
}

.input i {
    font-size: 20px;
    vertical-align: text-bottom;
    color: #4A4A4A;
}

.input i:hover {
    color: #000000;
    cursor: pointer;
}

.player-list h1 {
    font-size: 20px;
    
}

#msgInput:focus {
    outline: none;

}
.input .fa-paperclip {
    width: 50px;
    text-align: center;
    border-right: 1px solid #707070;
    margin-right: 10px;
}

.input .fa-paper-plane {
    width: 50px;
    text-align: center;
}

.messages {
    padding: 10px 55px;
    overflow: auto;
}
.message {
    display: block;
    margin-bottom: 10px;
}
.contents {
    background-color: #ebebeb;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    max-width: 80%;
}
.username {
    font-weight: lighter;
    padding-bottom: 4px;
    font-size: 14px;
    color: #5d5d5d;
}
.msg {
    /* font-weight: bold; */
    word-wrap: break-word;
    text-align: left;
}
.message.own {
    text-align: right;
}
.message.own .contents {
    background-color: #115cf5;
    color: white;
}
.message.own .username {
    display: none;
}


/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}